NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
VIPKORNER_D1_DATABASE_ID=
VIPKORNER_D1_DATABASE_NAME=vipkorner-db
VIPKORNER_R2_BUCKET_NAME=vipkorner-media
